*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --font-body: "Signpainter Script", "Exo", sans-serif;
  --font-title: "Dharma Gothic C", "Exo", sans-serif;
  --font-title-h4: "Signpainter Slant", "Exo", sans-serif;

  --font-size-h1: clamp(5rem, 14vw, 10em);
  --font-size-h2: clamp(2rem, 9vw, 5rem);
  --font-size-large: clamp(1.1rem, 4vw, 2rem);
  --font-size-normal: clamp(1rem, 4vw, 1.7rem);

  --color-body: #0d1b2a;
  --color-text: #e0e1dd;
}

@font-face {
  font-family: "Signpainter Script";
  src: url("./assets/webfontkits/signpainter_housescript_regular-webfont.woff") format("woff");
}

@font-face {
  font-family: "Signpainter Slant";
  src: url("./assets/webfontkits/signpainter_houseslant_regular-webfont.woff") format("woff");
}

@font-face {
  font-family: "Dharma Gothic C";
  src: url("./assets/webfontkits/DharmaGothicC-Bold.woff") format("woff");
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

html {
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-body);
  font-size: var(--font-size-normal);
  text-align: center;
  background-color: var(--color-body);
  margin: 0;
  overscroll-behavior-x: none;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  color: var(--color-text);
}

h1 {
  font-family: var(--font-title);
  font-size: var(--font-size-h1);
  letter-spacing: clamp(4px, 1vw, 15px);
  margin: 2rem;
  color: var(--color-text);
  transform: skewX(-8deg);
}

h2 {
  font-family: var(--font-title);
  font-size: var(--font-size-h2);
  letter-spacing: 6px;
  margin: 1rem;
  color: var(--color-text);
  transform: skewX(-8deg);
}

h3 {
  font-family: var(--font-title);
  font-size: var(--font-size-large);
  letter-spacing: 3px;
  margin: 1rem;
  color: var(--color-text);
  transform: skewX(-8deg);
}

h4 {
  font-family: var(--font-title-h4);
  font-size: var(--font-size-large);
  color: var(--color-text);
}

p {
  max-width: 80ch;
  margin: 1rem;
  color: var(--color-text);
}

i {
  color: var(--color-text);
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.flex {
  display: flex;
}
